<!DOCTYPE html>
<div class="divAmigos">

<link rel="stylesheet" href="../css/amigos.css">
<h1 class="titulo">{{titulo}}</h1>

<ul>
  <div class="row">
    <li class="col s4 m2" ng-repeat="j in jogadores | filter: naoRetorna | orderBy:'nome_jogador'">
      <div class="containerJogador z-depth-1">
        <div class="imgUser">
          <img class="responsive-img" src="http://localhost:8080/Findies/static/img/usuarios/user3.jpg">
        </div>
        <div class="divider"></div>
        <p class="center-align">{{j.nome_jogador}}</p>
        <a href="" class="waves-effect red waves-light btn-remover btn btn-small remover center-align">Remover</a>
      </div>
    </li>
  </div>
</ul>

</div>
