<!DOCTYPE html>
<link rel="stylesheet" href="../css/novaPartida.css">
<div class="divNovaPartida">
  <h4>{{titulo}}</h4>

  <div class="row">

    <div class="col s12 card white">
      <p>Informações gerais:</p>
      <div class="row">

        <div class="input-field col s12 m6 l6">
          <select class="validate" ng-model="partida.visib" material-select watch>
              <option>Público</option>
              <option>Privado</option>
          </select>
          <label>Visibilidade</label>
        </div>

        <div class="input-field col s12 m6 l6">
          <select class="validate" ng-model="showUnica" material-select watch>
              <option >Única</option>
              <option >Constante</option>
          </select>
          <label for="local">Frequêcia da partida</label>
        </div>

      </div><!-- row -->
      <div class="row">

        <div class="col s12 m6 l6" ng-if="showUnica == 'Única'">
          <label for="inputDate1">Data</label>
          <input input-date id="inputDate1"
              type="text"
              name="created"
              ng-model="currentTime"
              container=""
              format="dd/mm/yyyy"
              months-full="{{ month }}"
              months-short="{{ monthShort }}"
              weekdays-full="{{ weekdaysFull }}"
              weekdays-short="{{ weekdaysShort }}"
              weekdays-letter="{{ weekdaysLetter }}"
              disable="disable"
              min="{{ minDate }}"
              max="{{ maxDate }}"
              today="today"
              first-day="1"
              clear="clear"
              close="close"
              select-years="15"/>
        </div>

        <div class="input-field col s12 m6 l6" ng-if="showUnica != 'Única'">
          <select class="" material-select multiple watch>
              <option >Segunda</option>
              <option >Terça</option>
              <option >Quarta</option>
              <option >Quinta</option>
              <option >Sexta</option>
              <option >Sábado</option>
              <option >Domingo</option>
          </select>
          <label for="freq">Frequêcia da partida</label>
        </div>

        <div class="input-field col s12 m6 l6">
          <label for="timepicker">Horário</label>
          <input id="timepicker" class="timepicker" type="time">
        </div>

      </div><!-- row -->
    </div><!-- col s12 card white -->
  </div><!-- row -->

  <div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1">

      <div class="carousel" style="margin-top: -120px;">
        <ul>
          <li>
            <div class="" style="padding: 10px;">
              <div class="carousel-item card white" href="" style="padding: 10px;">

                <img src="http://lorempixel.com/250/250/nature/1">
                <a class="btn center-align" style="margin-left: 25px;">
                    Ver mais
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="" style="padding: 10px;">
              <div class="carousel-item card white" href="" style="padding: 10px;">

                <img src="http://lorempixel.com/250/250/nature/2">
                <a class="btn center-align" style="margin-left: 25px;">
                    Ver mais
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="" style="padding: 10px;">
              <div class="carousel-item card white" href="" style="padding: 10px;">

                <img src="http://lorempixel.com/250/250/nature/3">
                <a class="btn center-align" style="margin-left: 25px;">
                    Ver mais
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="" style="padding: 10px;">
              <div class="carousel-item card white" href="" style="padding: 10px;">

                <img src="http://lorempixel.com/250/250/nature/4">
                <a class="btn center-align" style="margin-left: 25px;">
                    Ver mais
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="" style="padding: 10px;">
              <div class="carousel-item card white" href="" style="padding: 10px;">

                <img src="http://lorempixel.com/250/250/nature/5">
                <a class="btn center-align" style="margin-left: 25px;">
                    Ver mais
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="" style="padding: 10px;">
              <div class="carousel-item card white" href="" style="padding: 10px;">

                <img src="http://lorempixel.com/250/250/nature/6">
                <a class="btn center-align" style="margin-left: 25px;">
                    Ver mais
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div><!-- col s12 card white -->
  </div><!-- row -->

  <!--
  LISTA DE AMIGOS
  -->
  <div class="row">
    <div class="col s12 m6 l6 div-lista-amigos">

      <div class="white z-depth-1 div-scroll">
        <ul class="collection">


            <li class="collection-item avatar"
                ng-repeat="amigo in amigos | filter: naoRetorna"
                ng-click="mudarEstadoSelecionado(amigos, amigo)"
                ng-class="{amigoSelecionado: amigo.selecionado}"
                style="cursor:pointer; height: 60px;">

                <img src="http://localhost:8080/Findies/static/img/usuarios/user2.jpg" alt="" class="circle no-padding">
                <span class="title">{{amigo.nome_jogador}}</span>
                <p class="apelido">
                  {{amigo.apelido_jogador}}
                </p>
                <p>
                  <i class="material-icons yellow-text">star</i>
                  <i class="material-icons yellow-text">star</i>
                  <i class="material-icons yellow-text">star_half</i>
                  <i class="material-icons yellow-text">star_border</i>
                  <i class="material-icons yellow-text">star_border</i>
                </p>

            </li> <!-- collection-item -->


        </ul><!-- collection -->
      </div><!-- white z-depth-1 div-scroll -->

      <div class="btn-alterar-lista">
        <button class="col s8 offset-s2 btn" type="button" name="button" ng-click="selecionarJogador(amigos)">Selecionar Jogadores</button>
      </div>
    </div><!-- col m6 l6 white -->
    <!--
    FIM LISTA DE AMIGOS
    -->



    <!--
    LISTA DE AMIGOS ESCOLHIDOS
    -->
    <div class="col s12 m6 l6 div-lista-amigos">

      <div class="white z-depth-1 div-scroll">
        <ul class="collection">

          <li class="collection-item avatar"
              ng-repeat="selecionado in selecionados  | filter: naoRetorna"
              ng-click="mudarEstadoSelecionado2(selecionados, selecionado)"
              ng-class="{amigoSelecionado: selecionado.selecionado}"
              style="cursor:pointer; height: 60px;">

            <!-- <div class=""   style="display: inline-block; float: left;width: 80%;"> -->

              <img src="http://localhost:8080/Findies/static/img/usuarios/user2.jpg" alt="" class="circle no-padding">
              <span class="title">{{selecionado.nome_jogador}}</span>
              <p class="apelido">
                {{selecionado.apelido_jogador}}
              </p>
              <p>
                <i class="material-icons yellow-text">star</i>
                <i class="material-icons yellow-text">star</i>
                <i class="material-icons yellow-text">star_half</i>
                <i class="material-icons yellow-text">star_border</i>
                <i class="material-icons yellow-text">star_border</i>
              </p>

          </li> <!-- collection-item -->

        </ul><!-- .collection -->
      </div><!-- white z-depth-1 div-scroll -->


      <div class="btn-alterar-lista">
        <button class="col s8 offset-s2 btn" type="button" name="button" ng-click="retornarJogador(selecionados)" >Remover Jogadores</button>
      </div>

    </div><!-- col s12 m6 l6 white -->
  </div><!-- row -->

</div><!-- divNovaPartida -->
<script>
$(document).ready(function () {
  $('#timepicker').pickatime({
    autoclose: true,
    twelvehour: false,
    donetext: 'Fechar',
    vibrate: true
  });
  $('.carousel').carousel({
    no_wrap: true,
    time_constant: 150,
    dist: -30,
    no_wrap: false
  });
});
</script>
