<!DOCTYPE html>
<div class="divNovoTime">
<link rel="stylesheet" href="../css/novoTime.css">

  <h1 class="titulo">{{titulo}}</h1>
  <!-- desktop -->
  <div class="desk">
      {{dadosEnviar}}

      <!--
      DADOS GERAIS
     -->
      <div class="row dados-gerais">

        <div class="col s8 offset-s2 m4 card-panel img-escudo" style="height: 100%">
          <img class="responsive-img" src="../../static/img/times/escudo.jpg"  alt="" />
        </div>

        <div class="col s12 m8">
          <div class="row">
            <div class="input-field col s12">
              <input id="novoTimeNomeTime" type="text" class="validate" ng-model="dadosEnviar.nome" required="true">
              <label for="novoTimeNomeTime">Nome do time</label>
            </div>
            <div class="input-field col s12">
              <input id="novoTimeMascoteTime" type="text" class="validate" ng-model="dadosEnviar.mascote" required="true">
              <label for="novoTimeMascoteTime">Mascote</label>
            </div>
            <div class="input-field col s12">
              <div class="file-field input-field">
                <div class="">
                  <span class="btn"><i class="material-icons">image</i></span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input id="file-escudo" class="file-path validate" type="text">
                </div>
              </div> <!-- file-field input-field -->
            </div>
          </div>
        </div>
      </div> <!-- row dados-gerais -->
      <!--
      DADOS GERAIS
     -->

    <!--
    LISTA DE AMIGOS
    -->
    <div class="row">
      <div class="col s12 m6 l6 div-lista-amigos">

        <div class="white z-depth-1 div-scroll">
          <ul class="collection">


              <li class="collection-item avatar"
                  ng-repeat="amigo in amigos | filter: naoRetorna"
                  ng-click="mudarEstadoSelecionado(amigos, amigo)"
                  ng-class="{amigoSelecionado: amigo.selecionado}"
                  style="cursor:pointer; height: 60px;">

                  <img src="http://localhost:8080/Findies/static/img/usuarios/user2.jpg" alt="" class="circle no-padding">
                  <span class="title">{{amigo.nome_jogador}}</span>
                  <p class="apelido">
                    {{amigo.apelido_jogador}}
                  </p>
                  <p>
                    <i class="material-icons yellow-text">star</i>
                    <i class="material-icons yellow-text">star</i>
                    <i class="material-icons yellow-text">star_half</i>
                    <i class="material-icons yellow-text">star_border</i>
                    <i class="material-icons yellow-text">star_border</i>
                  </p>

              </li> <!-- collection-item -->


          </ul><!-- collection -->
        </div><!-- white z-depth-1 div-scroll -->

        <div class="btn-alterar-lista">
          <button class="col s8 offset-s2 btn" type="button" name="button" ng-click="selecionarJogador(amigos)">Selecionar Jogadores</button>
        </div>
      </div><!-- col m6 l6 white -->
      <!--
      FIM LISTA DE AMIGOS
      -->



      <!--
      LISTA DE AMIGOS ESCOLHIDOS
      -->
      <div class="col s12 m6 l6 div-lista-amigos">

        <div class="white z-depth-1 div-scroll">
          <ul class="collection">

            <li class="collection-item avatar"
                ng-repeat="selecionado in selecionados  | filter: naoRetorna"
                ng-click="mudarEstadoSelecionado2(selecionados, selecionado)"
                ng-class="{amigoSelecionado: selecionado.selecionado}"
                style="cursor:pointer; height: 60px;">

              <!-- <div class=""   style="display: inline-block; float: left;width: 80%;"> -->

                <img src="http://localhost:8080/Findies/static/img/usuarios/user2.jpg" alt="" class="circle no-padding">
                <span class="title">{{selecionado.nome_jogador}}</span>
                <p class="apelido">
                  {{selecionado.apelido_jogador}}
                </p>
                <p>
                  <i class="material-icons yellow-text">star</i>
                  <i class="material-icons yellow-text">star</i>
                  <i class="material-icons yellow-text">star_half</i>
                  <i class="material-icons yellow-text">star_border</i>
                  <i class="material-icons yellow-text">star_border</i>
                </p>

            </li> <!-- collection-item -->

          </ul><!-- .collection -->
        </div><!-- white z-depth-1 div-scroll -->


        <div class="btn-alterar-lista">
          <button class="col s8 offset-s2 btn" type="button" name="button" ng-click="retornarJogador(selecionados)" >Remover Jogadores</button>
        </div>

      </div><!-- col s12 m6 l6 white -->
    </div><!-- row -->

    <div class="row">
      <button class="col s6 offset-s3 m4 offset-m4 amber darken-4 btn z-depth-1"
              ng-click="sendPost(dadosEnviar, selecionados)"
              name="button">Criar time</button>
              <!-- ng-click="enviarDados(selecionados, dadosEnviar)" -->
    </div>

    <!--
    FIM LISTA DE AMIGOS ESCOLHIDOS
    -->


    <!--
    TESTE MODAL (APAGAR DEPOIS)
   -->
    <div class="row">

      <!-- Modal Trigger -->
      <!-- <div class="col">
        <a class='btn' href='#demoModal' modal>Show Modal</a>
      </div>  -->

      <!-- Modal Structure -->
      <div id="demoModal" class="modal">
        <div class="modal-content">
          <h4>Modal header</h4>
          <p>A bunch of text</p>
        </div><!-- modal-content -->
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div><!-- modal-footer -->
      </div><!-- modal -->

    </div><!-- row -->
    <!--
    TESTE MODAL (APAGAR DEPOIS)
   -->
  </div><!-- desk -->


</div>
