/*  INDEX.CSS   */
@font-face {
    font-family: 'josefin-sans'; /*a name to be used later*/
    src: url('../../static/font/josefin-sans/JosefinSans-Light.ttf');
}
body{
  color: white;
  font-family: 'josefin-sans';
  margin: 0;
  padding: 0;
}
.modal{
  color: black;
}
.picker__holder{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
}
.fullscreen{
  z-index: -1;
}
.picker__footer button{
  margin: 0;
}

/*   NAV    */
.transparente{
  background-color: rgba(0, 0, 0, 0);
}
.btn-cadastrar{
    margin-right: 30px;
}
#img-logo{
  height: auto;
  max-height: 54px;
  margin-top: 3px;
  margin-left: 80px;
}
#menu-button{
  margin-left: 10px;
}

.logo{
  background-color: white;
  border-bottom: 4px solid #43A64C;
}
.logo h1{
  font-size: 20pt;
}
#img-logo{
  height: 70px;
}

/*  MAIN  */
.div-form{
  border-radius: 4px;
}
.indicator{   /* cor do indicador */
  border-bottom: 5px solid #1b5e20;
  z-index:1;
}
#emailLogin{
  margin-top: 10px;
}
#nome, #sobrenome{
  margin-top: 15px;
}
#btn-login, #btn-cadastrar{
  margin-top: 20px;
}
.input-field, input[type=text], input[type=password],
input[type=email], input[type=number]{
  font-size: 22pt;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/*  Cor dos inputs  */
*::-webkit-input-placeholder {
    color: grey;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: grey;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: grey;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: grey;
}
form button{
  width: 55%;
  display: block;
  margin-left: 22%;
}
/*  FOOTER  */

@media (max-width: 997px){
  #img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  nav{
    border-bottom: 0;  /*green accent-4*/
  }
}
@media (max-width: 585px){
  #img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .cpt-height{
    height: 100%;
  }
  /*#emailLogin{
    margin-top: 25%;
  }*/
}

/*  NO-PADDING  */

.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
/* FOOTER FIXO */
.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content{
  flex: 1 0 auto;
}
