.divNovaPartida{
  border-radius: 3px;
  padding: 5px;
}


.divNovaPartida .desk .div-scroll{
  height: 400px;
  overflow: auto;
}
.divNovaPartida .amigoSelecionado{
  background-color: #e8f5e9;
}
.divNovaPartida .div-scroll .apelido{
  color: #757575;
}

.divNovaPartida .desk .btn-alterar-lista .btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.no-padding{
  padding: 0;
}
