<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#00c853">
    <title>Findies</title>
    <script type="text/javascript" src="js/verifyToken.js"></script>
    <!-- GOOGLE ICONS -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="lib/materialize/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/index.css" media="screen" title="no title" charset="utf-8">

    <!-- IMPORT JQUERY JS BEFORE MATERIALIZE JS -->
    <script type="text/javascript" src="lib/jquery/jquery-3.0.min.js"></script>
    <!-- ANGULAR JS -->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>

    <!-- SHORTCUT ICON -->
    <link rel="shortcut icon" href="../static/img/logo_icon.ico">
    <!--  BROWSER É OTIMIZADO PARA MOBILE  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="site" ng-app="findies" ng-controller="indexCtrl">
    <!-- <nav class="z-depth-0 transparente"> -->
    <!-- </nav> -->
    <!--  MAIN  -->
    <div class="site-content">

      <div class="row">
        <a class="col m2 l2 offset-m9 offset-l9 btn waves-effect waves-light transparente z-depth-0" href="#modalCadastrar" modal>Cadastre-se</a>
        <!-- <h5 class="btn-cadastrar right-align">Cadastre-se</h5> -->
      </div>
      <!--  SLIDER  -->
      <div class="col s12 no-padding">
        <div class="slider fullscreen">
          <ul class="slides">
            <li>
              <img src="../static/img/slider/img-bas1-1280.jpg"/>
            </li>
            <li>
              <img src="../static/img/slider/img-fut4-1280.jpg"/>
            </li>
            <li>
              <img src="../static/img/slider/img-ten4-1920.jpg"/>
            </li>
            <li>
              <img src="../static/img/slider/img-vol1-1920.jpg"/>
            </li>
          </ul> <!-- slides -->
        </div> <!-- slider fullscreen -->
       </div> <!-- col s12 no-padding -->


      <!-- forms -->
       <div class="row no-padding transparente">
        <div class="col l4 m6 s12 offset-l4 offset-m3 no-padding div-form">
          <div class="row">
            <img src="../static/img/logo.png" alt="" height="100px" style="margin-left: 36%;"/>
            <h1 class="center-align">findies</h1>
          </div>
          <div class="row">
            <div class="col s12 no-padding">

              <!-- LOGIN -->
              <div id="login" class="col s12">

                <form novalidate class="simple-form" name="formLogin">

                  <div class="input-field row">
                    <input id="emailLogin" class="validate" ng-model="dadosEnviarLogin.emailLogin" type="email" placeholder="Email">
                  </div>
                  <div class="input-field row">
                    <input id="senhaLogin" class="validate" ng-model="dadosEnviarLogin.senhaLogin" type="password" placeholder="Senha" min="6">
                  </div>
                  <div class="row red lighten-4" ng-show="divError">
                    <p class="center-align red-text" style="margin-top: 10px;">{{messageError}}</p>
                  </div>

                  <!-- PRELOADER -->
                  <div class="row" ng-if="teste">
                    <div class="preloader-wrapper small active" style="margin-left: 50%; margin-top: 60px;">
                      <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="row">
                    <button id="btn-amigos"
                            class="btn btn-large yellow darken-3 center"
                            ng-click="getAmigos(token)">get amigos
                      <i class="material-icons right">send</i>
                    </button>
                  </div> -->

                  <button id="btn-login"
                          ng-if="!teste"
                          type="submit"
                          class="btn btn-large yellow darken-3 center btn-login"
                          ng-click="sendPostLogin(dadosEnviarLogin)">Login
                          <!-- ng-click="sendPost(dadosEnviar)">Login -->
                    <i class="material-icons right">send</i>
                  </button>
                  <!-- <p class="no-margin center">ou</p>
                  <div class="ror">
                    <button id="btn-login-facebook" class="btn btn-large indigo darken-3 center" type="button" name="button">Facebook</button>
                  </div> -->

                </form>
              </div>

            </div><!-- /.col s12 no-padding -->
          </div> <!-- /.row -->
          <footer class="row no-padding">
            <p class="light center-align">&copy; 2016 Findies</p>
          </footer> <!-- row no-padding -->
        </div> <!-- col l4 m4 s12 offset-l7 offset-m7 white no-padding z-depth-4 div-form -->
      </div> <!-- row no-padding row-center -->


      <!-- Modal Structure -->
      <div id="modalCadastrar" class="modal">
          <div class="modal-content">
            <div id="cadastro" class="col s12">

              <!-- <p>{{dadosEnviarCadastrar.nome}}</p>
              <p>{{dadosEnviarCadastrar.sobrenome}}</p>
              <p>{{dadosEnviarCadastrar.date}}</p>
              <p>{{dadosEnviarCadastrar.cep}}</p>
              <p>{{dadosEnviarCadastrar.emailcadastro}}</p>
              <p>{{dadosEnviarCadastrar.senhacadastro}}</p> -->
              <!-- <form action="localhost:8080/api/jogadores/new" method="post"> -->

              <form novalidate class="simple-form" name="formCadastro">

                <!-- IMPUTS -->
                <div class="row no-padding">
                  <div class="input-field col s12 m6 l6">
                    <input id="nome" class="validate" ng-model="dadosEnviarCadastrar.nome" type="text" placeholder="Nome">
                    <!-- <label for="nome">Nome</label> -->
                  </div> <!-- /.row -->
                  <div class="input-field col s12 m6 l6">
                    <input id="sobrenome" class="validate" ng-model="dadosEnviarCadastrar.sobrenome" type="text" placeholder="Sobrenome">
                    <!-- <label for="sobrenome">Sobrenome</label> -->
                  </div>
                </div> <!-- /.row -->
                <div class="row no-padding">

                  <div class="input-field col s6">
                    <!-- <label for="inputDate1">Data</label> -->
                    <input input-date id="inputDate1"
                        type="text"
                        name="created"
                        ng-model="dadosEnviarCadastrar.date"
                        container=""
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        select-months="2"
                        clear="clear"
                        close="close"
                        select-years="100"
                        placeholder="Data de nascimento"/>

                    <!-- <input type="date" class="validate datepicker" ng-model="dadosEnviarCadastrar.date"> -->

                    <!-- <input required class="datepicker" type="date" id="nascimento" class="validate" placeholder="Nascimento" name="nascimento"> -->
                    <!-- <label for="nome">Nome</label> -->
                  </div> <!-- /.row -->

                  <!-- CEP -->
                  <div class="input-field col s6">
                    <input id="cep" class="validate" ng-model="dadosEnviarCadastrar.cep" type="text" onkeypress="mascara(this, '#####-###')" maxlength="9" placeholder="CEP" required="true">
                  </div>
                </div> <!-- /.row -->
                <div class="row no-padding">
                  <div class="input-field col s12">
                    <input id="email-cadastro" class="validate" ng-model="dadosEnviarCadastrar.emailcadastro" type="email" placeholder="Email" required="true">
                    <!-- <label for="email-cadastro">Email</label> -->
                  </div>
                </div> <!-- /.row -->
                <div class="row no-padding">
                  <div class="input-field col s6">
                    <input id="senha-cadastro" class="validate" ng-model="dadosEnviarCadastrar.senhacadastro" type="password" placeholder="Senha" required="true">
                    <!-- <label for="senha-cadastro">Senha</label> -->
                  </div>
                  <div class="input-field col s6">
                    <input id="repetir-senha" class="validate" name="repetir-senha" type="password" placeholder="Repita a senha" required="true">
                    <!-- <label for="repetir-senha">Repita a Senha</label> -->
                  </div>
                </div> <!-- /.row -->

                <!-- BUTTON -->
                <div class="row">
                  <button id="btn-cadastrar"
                          class="btn btn-large yellow darken-3 center modal-action modal-close"
                          type="submit"
                          ng-click="sendPostCadastrar(dadosEnviarCadastrar)">
                          cadastrar
                    <i class="material-icons right">send</i>
                  </button>
                </div>
                <!-- <p class="no-margin center">ou</p>
                <div class="row">
                  <button id="btn-cadastrar-facebook" class="btn btn-large indigo darken-3 center" type="button" name="button">Facebook</button>
                </div> -->

              </form>
              <!--</form> /form cadastrar -->

            </div><!-- /#cadastro -->

          </div>
      </div>'



    </div> <!-- site-content -->


    <!-- <div class="scripts"> -->

    <!-- INDEX CONTROLLER -->
    <script type="text/javascript" src="js/controllers/indexCtrl.js"></script>
    <script type="text/javascript" src="lib/jwt/angular-jwt.js"></script>
    <script type="text/javascript" src="lib/ngstorage/ngStorage.min.js"></script>


    <!-- MATERIALIZE JS -->
    <script type="text/javascript" src="lib/materialize/js/materialize.min.js"></script>
    <!-- angular-materialize -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>
    <!-- INDEX DO MATERIALIZE -->
    <script type="text/javascript" src="js/materialize/indexMat.js"></script>
    <!-- validação do cadastro -->
    <script type="text/javascript" src="js/jquery/validacaoCadastro.js"></script>
    <!-- </div> -->
  </body>
</html>
