<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#00c853">
    <title>Findies</title>
    <!-- GOOGLE ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../css/main.css" media="screen" title="no title" charset="utf-8">
    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="../lib/materialize/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- SHORTCUT ICON -->
    <link rel="shortcut icon" href="../../static/img/logo_icon.ico">
    <!--  BROWSER É OTIMIZADO PARA MOBILE  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->

    <!-- IMPORT JQUERY JS BEFORE MATERIALIZE JS -->
    <script type="text/javascript" src="../lib/jquery/jquery-3.0.min.js"></script>

    <!-- ANGULAR JS -->
    <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
    <!-- ANGULAR ROUTE -->
    <script type="text/javascript" src="../lib/angular/angular-route.min.js"></script>



    <!-- clock materialize -->
    <link rel="stylesheet" href="../lib/materialize/css/materialize.clockpicker.css">
    <!-- mainMat JS -->
    <script type="text/javascript" src="../lib/materialize/js/materialize.clockpicker.js"></script>

  </head>
  <body class="site grey lighten-4" ng-app="findies" ng-controller="mainCtrl"> <!--grey lighten-2-->


    <!--  MAIN  -->
    <div class="site-content">

      <header class="navbar-fixed">

        <nav>
          <div class="nav-wrapper">
            <!-- <div class="top-nav z-depth-5"> -->
              <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
              <a href="#/" class="brand-logo"><img id="img-logo" src="../../static/img/logo-nome.png"/></a>
            <!-- </div> -->

            <ul id="nav-mobile" class="side-nav fixed">
              <li class="userView">
                <div class="background-user-top indigo lighten-3">
                  <img class="col s6 offset-s3 circle responsive-img user-img" src="../../static/img/usuarios/user{{user.id}}.jpg" alt="" />
                </div>
                <div class="bottom white background-user-bottom"></div>
                <p class="black-text">{{user.email}}</p>
              </li>
              <li>
              <div class="divider"></div>
                <ul class="collapsible collapsible-acordion">

                  <li>
                    <a href="#/amigos" class="waves-effect waves-teal bold">Amigos</a>
                  </li>
                  <div class="divider"></div>

                  <!-- <li> PARTIDAS -->
                  <li>
                    <a class="collapsible-header waves-effect waves-teal bold">Partidas</a>
                    <div class="collapsible-body">
                      <ul>
                        <div class="divider"></div>
                        <li>
                          <a href="#/novaPartida" class="waves-effect waves-teal">Nova Partida</a>
                        </li>
                        <div class="divider"></div>
                        <li>
                          <a href="#/partidas" class="waves-effect waves-teal">Minhas Partidas</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <div class="divider"></div>

                  <!-- <li> TIMES -->
                  <li>
                    <a class="collapsible-header waves-effect waves-teal bold">Times</a>
                    <div class="collapsible-body">
                      <ul>
                        <div class="divider"></div>
                        <li>
                          <a href="#/novoTime" class="waves-effect waves-teal">Novo Time</a>
                        </li>
                        <div class="divider"></div>
                        <li>
                          <a href="#/times" class="waves-effect waves-teal">Meus Times</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <div class="divider"></div>

                  <!-- SAIR -->
                  <li ng-click="logout()">
                    <a href="#" class="waves-effect waves-teal bold">Sair</a>
                  </li>
                  <div class="divider"></div>

                </ul>
                <!-- <a id="amigosMenu" href="#amigos">
                  <i class="material-icons left">add</i>
                Amigos</a> -->
              </li>
            </ul>


          </div>
        </nav>
      </header>

      <div class="row">
        <!-- <div class="col m1">
        </div> -->
        <!-- col s12 m10 -->
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div ng-view class="content"></div>
        </div>

        <!-- <div class="col m1">
        área reservada p propaganda.
        <div class="col hide-on-small-only m3 l2">
                <div class="toc-wrapper">
                  <div style="height: 1px;">
                  <ul class="table-of-contents">
                    <li><a href="#download">Download</a></li>
                    <li><a href="#setup">Setup</a></li>
                    <li><a href="#templates">Templates</a></li>
                    <li><a href="#third-party-options">Third-party Options</a></li>
                    <li><a href="#sass">Sass</a></li>
                  </ul>
                  </div>
                </div>
              </div> -->





        </div><!-- .col s12 m10 l10 -->
      </div><!-- .row -->


    <!-- FOOTER  -->
    <footer id="footer" class="page-footer green accent-3">
      <div class="footer-copyright green accent-4">
        <p class="center-align">&copy; 2016, Findies</p>
      </div>
    </footer>

  <!-- APP.JS -->
  <script type="text/javascript" src="../js/findies.js"></script>
  <script type="text/javascript" src="../lib/jwt/angular-jwt.js"></script>
  <script type="text/javascript" src="../lib/ngstorage/ngStorage.min.js"></script>

  <!-- MAIN JS -->

  <!-- CONTROLLERS -->
  <script type="text/javascript" src="../js/controllers/mainCtrl.js"></script>
  <script type="text/javascript" src="../js/controllers/homeCtrl.js"></script>
  <script type="text/javascript" src="../js/controllers/novaPartidaCtrl.js"></script>
  <script type="text/javascript" src="../js/controllers/timesCtrl.js"></script>
  <script type="text/javascript" src="../js/controllers/novoTimeCtrl.js"></script>
  <script type="text/javascript" src="../js/controllers/amigosCtrl.js"></script>

  <!-- getCtrls.js  =  cria os controladores para cada página -->
  <!-- <script type="text/javascript" src="../js/getCtrls.js"></script> -->

  <!-- NOVO TIME JS -->
  <!-- <script type="text/javascript" src="../js/jquery/novoTime.js"></script> -->
  <!-- MATERIALIZE JS -->
  <script type="text/javascript" src="../lib/materialize/js/materialize.min.js"></script>
  <!-- angular-materialize -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>
  <!-- mainMat JS -->
  <script type="text/javascript" src="../js/materialize/mainMat.js"></script>


  </body>
</html>
