<!DOCTYPE html>
<div class="divTimes">

  <h3>{{titulo}}</h3>

  <ul>
  <link rel="stylesheet" href="../css/times.css">

      <div class="row">
        <!-- {{arrayJogadoresTimes[idTimeToEdit]}} -->
      </div>

      <li class="col s12 m4"
          ng-repeat="time in times | filter: naoRetorna | orderBy:'nome'"
          ng-click="getAmigos(amigos)"
          style="padding: 10px;">


        <div class="card hoverable" ng-click="getJogadoresTime(arrayJogadoresTimes, time.idTime) | filter: naoRetorna">
          <div class="card-image">
            <img class="activator" src="../../static/img/times/escudo-qdd.jpg" heigth="10" width="30">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><h6>{{time.nome}}</h6></span>
          </div>
          <div class="card-reveal">


            <div class="row">
              <a class="col s2 offset-s1 grey-text" modal href="#sairTimeModal" ng-click="getIndexTime(times, time)">
                <i class="material-icons">exit_to_app</i>
              </a>
              <a class="col s2 offset-s1 grey-text" modal href="#removerJogadorTimeModal" ng-click="setIdTimeToEdit(time.idTime)">
                <i class="material-icons">remove_circle_outline</i>
              </a>
              <a class="col s2 offset-s1 grey-text" modal href="#adicionarJogadorTimeModal" ng-click="setIdTimeToEdit(time.idTime)">
                <i class="material-icons">add_circle_outline</i>
              </a>
              <a class="col s2 offset-s1 grey-text card-title">
                <i class="material-icons">close</i>
              </a>
            </div><!-- .row -->


            <div class="row">
              <h6>Integrantes</h6>
            </div><!-- .row -->
            <div class="row">
              <ul>
                <li ng-repeat="jogador in arrayJogadoresTimes[time.idTime] | filter: naoRetorna">

                  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">
                    <img class="img-circle col s3" style="padding: 2px;" src="../../static/img/usuarios/user.jpg" alt="" />
                  </a>

                </li>
              </ul>
            </div><!-- .row -->


          </div><!-- .card-reveal -->
        </div><!-- .card -->

      </li><!-- li -> col s12 m6 -->

  </ul>





  <!--  MODAIS  -->


  <!-- Modal "sair do time" -->
  <div id="sairTimeModal" class="modal">
      <div class="modal-content">
          <p>Deseja realmente sair deste time?</p>
      </div>
      <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Não</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteTime(indexTime, times, idTimeToEdit)">Sim</a>
      </div>
  </div>
  <!-- FIM modal "sair do time" -->


  <!-- Modal "remover jogador" -->
  <div id="removerJogadorTimeModal" class="modal modal-fixed-footer">
      <div class="modal-content">
          <h5>Remover jogadores:</h5>
          <p>Selecione os jogadores à serem removidos</p>
          <div class="row">

            <ul>

              <li ng-repeat="jogador in tempArrayJogadoresTimes[idTimeToEdit] | filter: naoRetorna | orderBy:'nome_jogador'" ng-click="deleteJogador(tempArrayJogadoresTimes[idTimeToEdit], jogador)">
                <div class="col s4 m3">
                  <a href="" class="grey-text text-darken-4 right" style="margin-right: 39px;" ng-click="">
                    <i class="white material-icons right" style="position: absolute; z-index: 1;">remove_circle_outline</i>
                  </a>
                  <img class="responsive-img"  src="../../static/img/usuarios/user1.jpg">
                  <p class="center-align white">{{jogador.nome_jogador}}</p>
                </div>
              </li>

            </ul>

          </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="salvarRemocaoJogadorTime()">Salvar</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="cancelarRemocaoJogadorTime()">Cancelar</a>
      </div>
  </div>
  <!-- FIM modal "remover jogador" -->

  <!-- Modal "remover jogador" -->
  <div id="adicionarJogadorTimeModal" class="modal modal-fixed-footer">
      <div class="modal-content">
          <h5>Adicionar jogadores:</h5>
          <p>Selecione os jogadores à serem adicionados</p>
          <div class="row">



            <ul class="collection gray">
                <li class="collection-item avatar"
                    ng-repeat="amigo in amigos | filter: naoRetorna | orderBy:'nome_jogador'"
                    ng-click="mudarEstadoSelecionado(amigos, amigo)"
                    ng-class="{amigoSelecionado: amigo.selecionado}"
                    style="cursor:pointer; height: 60px;">

                    <img src="../../static/img/usuarios/user2.jpg" alt="" class="circle no-padding">
                    <span class="title">{{amigo.nome_jogador}}</span>
                    <p class="apelido">
                      {{amigo.apelido_jogador}}
                    </p>
                    <p>
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star_half</i>
                      <i class="material-icons yellow-text">star_border</i>
                      <i class="material-icons yellow-text">star_border</i>
                    </p>

                </li> <!-- collection-item -->
            </ul><!-- collection -->

          </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="adicionarJogador(amigos, times, idTimeToEdit)">Salvar</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
  </div>
  <!-- FIM modal "remover jogador" -->
</div>  <!-- FIM .divTimes -->
