/*body{
  background-color: white;
}*/

nav{
  background-color: #00c853;
  border-bottom: 5px solid #1b5e20;  /*green accent-4*/
}
#img-logo{
  height: auto;
  max-height: 54px;
  margin-top: 3px;
  margin-left: 80px;
}
#menu-button{
  margin-left: 10px;
}
/*logo*/
.logo{
  background-color: white;
  border-bottom: 4px solid #43A64C;
}
.logo h1{
  font-size: 20pt;
}
#img-logo{
  height: 70px;
}
/*imagem do usuário*/
.background-user-top{
  height: 90px;
}
.background-user-bottom{
  height: 30px;
}
.user-img{
  margin-top:15px;
  margin-left: 15px;
  width: 100px;
}
/*título da página*/
.titulo{
  font-size: 18pt;
  margin: 0 0 0 20px;
}


/*  nav-bar  */

#nav-mobile{
  margin-top: 64px;
  background-color: #f5f5f5;
}

@media (max-width: 992px){
  #nav-mobile{
    margin-top: 0;
    height: 100% - 30px;
  }
}
@media (min-width: 993px){
  .content{
    margin-left: 240px;
  }
}

/*  FOOTER  */

@media (max-width: 997px){
  #img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  nav{
    border-bottom: 0;  /*green accent-4*/
  }
}
@media (max-width: 585px){
  #img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .cpt-height{
    height: 100%;
  }
  #emailLogin{
    margin-top: 25%;
  }
}

/*  NO-PADDING  */

.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
/* FOOTER FIXO */
.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content{
  flex: 1 0 auto;
}
.fixar{
  position:fixed;
  top:0;
  right:0;
}
.ground{
    top:auto;
    bottom:0;
    position:absolute;
}
