.divNovoTime{
  border-radius: 3px;
  padding: 5px;
}


/*DIV DE DADOS GERAIS*/
.divNovoTime .dados-gerais .img-escudo{
  height: 100%;
}
/*FIM DIV DE DADOS GERAIS*/



.divNovoTime .desk .div-scroll{
  height: 400px;
  overflow: auto;
}
.divNovoTime .amigoSelecionado{
  background-color: #e8f5e9;
}
.divNovoTime .div-scroll .apelido{
  color: #757575;
}
/*
.divNovoTime .desk .btn-alterar-lista{
  margin: 10px 0 10px 0;
}*/
.divNovoTime .desk .btn-alterar-lista .btn{
  margin-top: 10px;
  margin-bottom: 10px;
}




.no-padding{
  padding: 0;
}
